*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
androidApp/build**
shared/build**
buildSrc/build**
.kotlin/

# Xcode
*.xcuserstate
*.xcworkspace
xcuserdata/
DerivedData/
build/

# CocoaPods
Pods/
Podfile.lock

# Scheme Management
*.xcscheme
xcschememanagement.plist

# Swift Package Manager
Packages/
Package.pins
Package.resolved
.build/

# Gradle files
.gradle/

# Local configuration files
*.iml

# IntelliJ IDEA files
.idea/
*.iws
*.ipr

# Android Studio files
*.apk
*.ap_
*.hprof

# Windows files
Thumbs.db

# Kotlin specific
*.class

# Exclude IDE-specific files
deploymentTargetSelector.xml
compiler.xml
misc.xml

# Exclude build directories
androidApp/build/
shared/build/
